// Cores do Projeto

// Cores Principais
$brand-color: #fc4747;

// Cores Neutras
$black-10: #10141e;
$black-20: #161d2f;
$black-30: #5a698f;

$white: #ffffff;

// Escala de Cinza
$gray-1: #131414;
$gray-2: #2b2b2c;
$gray-3: #424344;
$gray-4: #595a5c;
$gray-5: #717274;
$gray-6: #888a8c;
$gray-7: #9ea0a3;
$gray-8: #bec1c5;

// Cores Auxiliares
$red-normal: #f03d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #0bb07b;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;

.color-black {
  color: $black-10 !important;
}

.color-white {
  color: $white !important;
}

.color-primary {
  color: $brand-color !important;
}

.color-gray {
  color: $gray-8 !important;
}

.color-red {
  color: $red-normal;
}

.color-green {
  color: $green-normal;
}

.color-yellow {
  color: $yellow-normal;
}
