#sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  width: 96px;

  margin: 32px;

  overflow: hidden;

  @include responsive(m) {
    .menu-bar-mobile {
      width: 60%;
      justify-content: space-between !important;
    }
  }

  @include responsive(s) {
    flex-direction: row !important;
    max-height: 72px;
    width: 100%;

    padding: 32px;
    margin: 0;

    .links {
      flex-direction: row;
    }
  }
}

.hidden-content {
  display: none;
}

.change-direction {
  @include responsive(s) {
    flex-direction: column;
  }
}
